/* Audio Player */

.audio-player {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.audio-toggle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--primary-color);
  color: var(--white);
  border: none;
  cursor: pointer;
  box-shadow: var(--shadow);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  transition: var(--transition);
}

.audio-toggle:hover {
  background-color: var(--secondary-color);
  transform: scale(1.1);
}